* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar hovering styling starts here*/
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  text-decoration-line: underline;
  transition: width 0.3s ease;
  background-color: #b1034f;
}
.nav-link:hover::after {
  width: 100%;
  height: 2px;
}
.nav-link:hover {
  color: #b1034f;
}
/* Navbar hovering styling ends here */
